{# src/school/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block titre %}
    Connexion - {{ parent() }}
{% endblock %}

{% block content %}
    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block user_content %}
        {# On affiche les messages flash que définissent les contrôleurs du bundle #}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}


    {% endblock user_content %}

{% endblock %}